@import url(./header.css);
@import url(./promo.css);
@import url(./stayl.css);
@import url(./modal.css);


li {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none;
}



.container {
    max-width: 1170px;
    margin: 0 auto;
}